body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.calculator{
    background-color: rgb(65, 65, 68);
    border-radius:10px;
    padding: 10px;
    width: 400px;
    max-width: 800px;
    text-align: center;
    height: 400px;
}
#result{
    border: none;
    background-color: rgb(65, 65, 68);
    font-size: 50px;
    color: white;
    width: 400px;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-end: 3;
    margin-top:10px;
}
.buttons .backg-c{
    background-color: rgb(241, 145, 20);
}

.item0{
    grid-column-end:3;
   
}
button{
    background-color:rgb(107, 102, 102);
    border: 0.5px solid #3d3d3d;
    color: rgb(209, 208, 208);
    padding: 15px;
    font-size: 30px; 
}